*{
    margin: 0;
}
body{
    /* background-color: rgb(44, 167, 27); */
    overflow-x: hidden;
    
}
.abc{
    position: relative;
    top: 75px;
    background-color: rgb(224, 213, 175);
    height: 730px;
}
.logo{
    position: absolute;
    top: 15px;
    left: 120px;
}
.ah{display: flex;
    justify-content: center;
    position: absolute;
    top: 130px;
    left: 100px;
}
.nav{
    display: flex;
    justify-content: space-around;
    /* padding: 20px; */
    /* right: 10px; */
}

ul li{
    display: inline;
    padding: 10px;
    font-size: 17px;
    right: 10px;
    padding: 20px;
    
}
ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
    /* right: 10px; */
}
ul{
    position: absolute;
    right: 50px;
    top: 30px;
}
.enter{
    position: absolute;
    top: 150px;
    right: 200px;
}

.square{
    display: flex;
    align-items: center;
    
    
}


.square .enter{
   
    background-color: white;
    height:480px ;
    width: 380px;
    margin-left: 200px;
    box-shadow: 0 0 10px 0px;
    text-align: center;    
}
.switch{
    width: 220px;
    margin: 35px auto;
    position: relative;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    
   
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-bottom:5px solid orangered ;
    transition: 0.5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}
.entry1{
    width: 90%;
    padding: 10px 0;
    margin: 10px 0;

}
.entry2{
    width: 90%;
    padding: 10px 0;
    margin: 5px;
}
.entry3{
    width: 90%;
    padding: 10px 0;
    margin: 10px 0;
}
.entry4{
    width: 90%;
    padding: 10px 0;
    margin: 5px;
}
.entry5{
    width: 90%;
    padding: 10px 0;
    margin: 10px 0;
}


.login-btn{
    width: 90%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background-color: rgb(255, 60, 0);
    position: relative;
    left: 5%;
    border-radius: 30px;
    top: 5%;
    
}
.forgot{
    position: relative;
    top: 10%;
    text-decoration: none;
    color: #000;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
/* --------------------------------- */
.foot{
    position: relative;
    background-color: black;
    top: 50px;
    height: 300px;
    width: 100%;
}
h4{
    position: absolute;
    top:50px;
    left: 100px;
    color: white;
}
#x1{
    position: absolute;
    top: 100px;
    left: 100px;
    color: gray;
}
#d1{
    position: absolute;
    top: 150px;
    left: 100px;
}
#d2{
    position: absolute;
    top: 150px;
    left: 252px;
}
#d3{
    position: absolute;
    top: 60px;
    left: 650px;
}
#x2{
    position: absolute;
    text-align: center;
    top: 150px;
    left: 500px;
    color: gray;
}
.x{
    position: relative;
    top: 10px;
    left: 950px;
    display: flex;
}
.xm{
    position: absolute;
    top: 100px;
    left: 1050px;
    text-align: center;
    color: gray;
}
.y{
    position: relative;
    top: 10px;
    left: 1200px;
    display: flex;
}
.ym{
    position: absolute;
    top: 100px;
    left: 1300px;
    text-align: center;
    color: gray;
}
.fline{
    position: absolute;
    width: 1400px;
    height: 2px;
    top: 250px;
    left: 100px;
    margin-bottom: 30px;
    background-color: rgb(245, 240, 234);

}
.copy{
    position: absolute;
    top: 260px;
    left: 650px;
    color: white;
}